@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Poppins;
}
:root {
    --Primary_color: #5E3BEE;
    --Secondary_color: rgba(40, 41, 56, 1);
    --Body_color: rgba(245, 252, 255, 1);
    --Dribble_color: rgba(230, 40, 114, 1);
    --Tetiary_color: rgba(28, 30, 83, 1);
}
.container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 45px;
}

.logo {
    height: 45px; 
    display: flex;
    align-items: center;
    justify-content: center;   
}
 .logo img {
    width: 70%;
 }

 .navbar{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
 }

 .navbar li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
 }
 .navbar li a:hover , a:active{
    color: var(--Primary_color);
 }

 .contactbtn{
    text-decoration: none;
    color: var(--Primary_color);
    border: var(--Primary_color) solid 2px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    padding: 9px;
    padding: 10px 15px;
 }

